.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
}
.button1 {
  width: 500px;
  height: 50px;
  border-radius: 11px;

  border: 0;
}
.button2 {
  width: 500px;
  height: 50px;
  border-radius: 11px;
  border: 0;
}
.p {
  text-decoration: none;
  font-size: 36px;
}
.link {
  font-size: 36px;
}
